body{
    text-align: center;
    font-style: italic;
    background-color: #0f0f0f; 
    color: white;
    touch-action: pan-y;
}

#section1{
    margin-top: 4em;
}

#section2{
    margin-top: 1em;
}

img{
    width:100px;
    height:100px;
    border-radius:50%;
}

#logo{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:-25px;
}

ion-icon{
    width:40px;
    height:40px;
    color: #e0e0e0; 
}

button{
    width:350px;
    height:60px;
    border:1px solid #444; 
    background: #1a1a1a;
    border-radius:27px;
    margin:0.8em auto;
    cursor:pointer;
    transition: 0.2s;
}

button:hover{
    background:#333; 
    font-weight:bold;
}

button:active{
    transform: scale(0.97);
}

a{
    text-decoration:none;
    color:#f0f0f0; 
}

p{ 
    color:#bbb; 
}

h1{
    color:#fff; 
    position: relative;
    bottom: 10px;
}

h4{
    color:#ddd; 
    position: relative;
    bottom: 20px;
}
