body{
    text-align: center;
    justify-items: center;
    font-style: italic;
    touch-action: pan-y;
    background-color: rgb(255,208,225);
}

#section1{
    margin-top: 4em;
}

#section2{
    margin-top: 1em;
}

button{
    width: 350px;
    height: 60px;
    border: 1px solid rgb(255,150,180); 
    background: rgb(255,180,210); 
    cursor: pointer;
    border-radius: 27px;
    margin-top: 1em;
    transition: 0.2s;
}

button:hover{
    background: rgb(255,150,190); 
    font-weight: bold;
}

ion-icon{
    width:40px;
    height:40px;
    color: rgb(80,0,40);
}

img{
    width:100px;
    height:100px;
    border-radius: 50%;
}

#logo{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: -25px;
}

a{
    text-decoration: none;
    color: rgb(80,0,40); 
}

p{
    color: rgb(120,30,60); 
}

h1{
    color: rgb(90,10,45);
    position: relative;
    bottom: 10px;
}

h4{
    color: rgb(100,20,50); 
    position: relative;
    bottom: 20px;
}
